@use '../../../../styles//variables.scss' as *;

.leave-grid-view,
.leave-table-view {
    .bulk-actions {
        margin-bottom: 16px;
        display: flex;
        justify-content: flex-end;
    }
}